body {
	background-color: #302F2F;
	cursor: grab;
}
.svg-div {
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
.top-svg {
	height: 100%;
	width: 100%;
}
.control-elements {
	position: fixed;
	top: 20px;
}
.connector {
	stroke: rgba(249, 160, 0, 1);
}
.arrowhead {
	stroke: rgba(249, 160, 0, 1);
	fill: none;
}
.hotspot {
	stroke: rgba(249, 160, 0, 1);
	fill: rgba(249, 160, 0, 0.2);
}
.hotspot-hidden {
	visibility: hidden;
}
.dot {
	stroke: rgba(249, 160, 0, 1);
	fill: rgba(225, 225, 225, 1);
}
.artboard-image-background {
	stroke: fill: rgba(0, 0, 0, 0.8);
}
.control-container {
	position: fixed;
	right: 0;
	z-index: 1;
	padding-right: 12px;
}
.circle-div {
  float:right;
  border-radius: 50%;
  width: 58px;
  height: 58px;
  background-color: #242527;
  border: 2px solid #BD10E0;
  margin: 12px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.circle-div:hover {
  box-shadow: 8px 8px 28px rgba(0,0,0,0.40), 0 10px 10px rgba(0,0,0,0.40);
  border: 2px solid #8100F3;
  background-color: #141414;
  cursor: pointer;
}
.fit-screen-image {
	margin: 8px;
}
.connector-image {
	margin: 12px;
}
.show-connector {
	background-color: #61656e;
}
.show-connector:hover {
	background-color: #61656e;
}
.connector-hidden {
	visibility: hidden;
}
.help-dialog {
	height: 54px;
	width: 283px;
	background-color: #242527;
	border: 2px solid #BD10E0;
	padding-left: 12px;
	float:left;
	margin: 16px;
	border-radius: 8px;
	font-size: 16px;
	color: #D8D8D8;
	font-family: "Arial", "Helvetica";
}
.help-dialog-hidden {
	visibility: hidden;
}
.help-dialog-text {
	float: left;
}
.help-dialog-close-button {
	float: right;
	margin-top: -6px;
	padding-right: 12px;
	cursor: pointer;
}